/auth.json

/vendor/
/bin/vendor/

/.idea
/docker-compose.override.yml

/config/packages/local.yaml
/config/packages/local.yml

/files/*

/platform/
/repos/

.env

.cache/

.envrc

/install.lock

/var/*
!/var/log/.gitkeep
!/var/cache/.gitkeep
!/var/queue/.gitkeep
!/var/test/.gitkeep
