// --------------------------------------------------
// copyright  ©  TAB10 / ENOOA s.r.o.
// --------------------------------------------------


// Cookie Permission
$norii-cookiepermission-background-color:rgba(0,0,0,.6);
$norii-cookiepermission-color:#fff;

$svg-color:$norii-topbar-font-color;


.btn-lg,
.btn-group-lg > .btn, .btn-buy{
    font-size: 13px;
}




